version: '3.8'


include:
  - proxy.yaml

services:

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    networks:
      backend:
        ipv4_address: 172.20.0.10
    healthcheck:
      test: ["CMD", "mysql", "--user=$$MYSQL_USER", "--password=$$MYSQL_PASSWORD", "-e", "SHOW DATABASES LIKE '$$MYSQL_DATABASE';"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s # Give MySQL time to initialize
    restart: on-failure 


  
  web:
    image: python-web:latest
    build:
      context: .
      dockerfile: Dockerfile.python
    environment:
      DB_HOST: "db"
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      DB_NAME: ${MYSQL_DATABASE}
      DB_TABLE: ${MYSQL_TABLE}
    depends_on:
      db:
        condition: service_healthy
    networks:
      backend:
        ipv4_address: 172.20.0.5
    restart: on-failure 


networks:
  backend:
    driver: bridge
    ipam:
     config:
       - subnet: 172.20.0.0/24
